---
layout: layoutindex
---

<div class="posts container"> <!-- This ends in the footer.html layout -->
<div class="row">

  <!-- Adding sidebar here -->
<section class="col-md-8 col-xs-12" id="postlist">
{% for post in paginator.posts %}

<div class="postslist">
  <div class="row">
  <div id="date" class="col-xs-2">{{ post.date | date: "%d %b %Y"  }}</div>
  <div class="col-xs-10">
  <h2> <a href="{{ post.url }}">{{ post.title }}</a> </h2>
  <p>{{ post.excerpt }}</p></div>
  </div>  </div>

{% endfor %}

    <div class="pagination">
      <ul>

       {% if paginator.page == 1 %}
       <li class="active"><span>1</span></li>
       {% else %}
       <li><a href="/">1</a></li>
       {% endif %}
       {% for count in (2..paginator.total_pages) %}
       {% if count == paginator.page %}
       <li class="active"><span>{{ count }}</span></li>
       {% else %}
       <li><a href="/page/{{ count }}">{{ count }}</a></li>
       {% endif %}
       {% endfor %}

      </ul>
    </div>
  </section>

  <aside id="widgets" class="col-md-4 col-xs-12">
      <div class="widget">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TechcoveredORG_TopPost -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-8063455251610186"
     data-ad-slot="8868334273"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

      </div>
      <div class="widget">
        <p><div class="fb-like-box" data-href="https://www.facebook.com/Techcovered" data-width="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div></p>
        <hr></div>
        <div class="widget">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TechCoveredORG_LargeSkyscrapper -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-8063455251610186"
     data-ad-slot="1314652278"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<hr>
        <h3>Have a tip?</h3>
        <p>If you have something (idea/tip/suggestion/article), do let us know. </p>
        <a href="/keep-in-touch" class="button">Contact us</a>
      </div>      
</aside>
</div>