---
layout: layoutindex
---

<div class="posts container"> <!-- This ends in the footer.html layout -->
<div class="row">

  <!-- Adding sidebar here -->
<section class="col-md-8 col-xs-12" id="postlist">
{% for post in paginator.posts %}

<div class="postslist">
  <div class="row">
  <div id="date" class="col-xs-2">{{ post.date | date: "%d %b %Y"  }}</div>
	<div class="col-xs-10">
  <h2> <a href="{{ post.url }}">{{ post.title }}</a> </h2>
	<p>{{ post.excerpt }}</p></div>
	</div>	</div>

{% endfor %}

    <div class="pagination">
      <ul>

       {% if paginator.page == 1 %}
       <li class="active"><span>1</span></li>
       {% else %}
       <li><a href="/">1</a></li>
       {% endif %}
       {% for count in (2..paginator.total_pages) %}
       {% if count == paginator.page %}
       <li class="active"><span>{{ count }}</span></li>
       {% else %}
       <li><a href="/page/{{ count }}">{{ count }}</a></li>
       {% endif %}
       {% endfor %}

      </ul>
    </div>
  </section>

  <aside id="widgets" class="col-md-4 col-xs-12">
      <div class="widget">
        <h3>Widget!</h3>
        <p>This is a sample widget. Lorem  ipsum dolor meth. Am i saying this right?</p>
      </div>
      <div class="widget">
        <h3>Another Widget</h3>
        <p>Another widget in the works here. Yahoo!</p>
      </div>      
</aside>
</div>