{% include header.html %}
<div class="posts container">
<div class="row">
    <div class="col-xs-12" id="thepost">
    <h1>{{ page.title }}</h1>
	<hr>
    {{ content }}
    <hr>
        <span style="float: left;margin: 0 10px 0 0;padding: 2px 0 0;">
<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span>
<span><div class="fb-share-button" data-layout="button"></div></span>

    </div>
</div>


{% include footer.html %}



